<!DOCTYPE html>
<html ng-app="hangmanApp">

<head>
  <title>Hangman Game</title>
  <meta charset="utf8" />
  <link rel="stylesheet" href="bower_components/bootstrap-css-only/css/bootstrap.min.css" />
  <link rel="stylesheet" href="css/custom.css" />
  <script src="bower_components/angular/angular.min.js"></script>
  <script src="js/hangman.js"></script>
  <script src="js/app.js"></script>
</head>

<body class="full-background">
<div class='container' id="container" ng-controller="hangmanCtrl as hangman">
  <div id='poor-soul' class='row'>
    <pre class='col-md-6 col-md-offset-3'>
_________
|/      |                               _
|      (_)       __ _ _ __   __ _ _   _| | __ _ _ __
|      \|/      / _` | '_ \ / _` | | | | |/ _` | '__|
|       |      | (_| | | | | (_| | |_| | | (_| | |
|      / \      \__,_|_| |_|\__, |\__,_|_|\__,_|_|
|                           |___/
|___                                        hang-man

    </pre>
    <div class='col-sm-12 col-md-6 col-md-offset-3 text-center'>
      {{ hangman.game.triesRemaining }} tries remaining
    </div>
  </div>
  <div class='row'>
    <div class='col-sm-12 text-center'>
      <span class="label label-default">SOLVING: </span>
    </div>
    <div class='col-sm-12 text-center'>
      <span class='wide'>{{ hangman.game.completedWord }}</span>
    </div>
  </div>

  <div class='row'>
    <div class='col-sm-12 text-center'>
      <span class="label label-default">GUESSES: </span>
    </div>
    <div class='col-sm-12 text-center' id='guesses'>&nbsp
      <span ng-repeat="guess in hangman.game.guesses"> {{ guess }} |</span>
    </div>
  </div>

  <div class='row'>
    <div class='col-sm-12 text-center'>
      <span class="label label-default">INPUT:</span>
    </div>
    <div class="col-sm-12 text-center">
      <input autofocus type='text' size='1' id='guess' ng-change="hangman.guessLetter()" ng-model="hangman.input">
    </div>
  </div>
  <div class='row' id=''>
    <!-- <div class='col-sm-1 table small-font'>Win status:
      <span class='glyphicon' ng-class="hangman.game.gameWon ? 'glyphicon-ok' : 'glyphicon-remove'"></span>
    </div> -->
    <div class='col-sm-1 table small-font'>Wins: {{hangman.wins}}, Losses: {{hangman.losses}}
    </div>
  </div>
</div>
</body>
</html>
